/* main.css */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos do formulário */
#meuFormulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Mensagens de sucesso e erro */
#mensagemSucesso,
#mensagemErro {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

#mensagemSucesso {
    background-color: #f9f9f9;
    color: #139130;
}

#mensagemErro {
    background-color: #f9f9f9;
    color: #e9182d;
}

